#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-item-container {
  position: relative;
  margin-bottom: 8px;
  background-color: white;
}

.column-container {
  overflow: visible;
  padding: 16px;
  background-color: #f9f9f9;
}

